{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<h1>{{ title }}</h1>
<center>
    <h1>Hola bienvenido</h1>
</center>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px 6px;
        margin: 1rem;
    }
</style>

<table>
    <tr>
        <th>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos delectus corporis in dignissimos rerum perferendis iste quis, cumque necessitatibus vero, pariatur quasi temporibus labore modi nobis ducimus vitae architecto quam?
        Ducimus id quasi, tempore explicabo, suscipit asperiores saepe aliquid ea voluptas modi voluptatibus illum sit nam? Consectetur atque praesentium facilis aliquam numquam? Consequuntur id blanditiis mollitia perferendis quidem impedit placeat?
        Quo ipsam itaque eius quisquam aspernatur sapiente quis assumenda placeat laborum nisi blanditiis laudantium suscipit amet ratione nobis, beatae consequatur facilis odio, numquam tempore. Minima, modi eveniet? Suscipit, cum sed.
        Veritatis iste ex hic omnis voluptas fugit, ullam dignissimos eaque incidunt est temporibus accusamus consectetur nihil quam totam magnam dolor? Maiores quia suscipit, vitae laboriosam praesentium est quos in accusamus.</th>
    </tr>
</table>



{% endblock %}