{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
    <ul>
        {% else %}

        <li>
        <a href="{% url 'Registrar' %}" class="nav-link">Registrate</a>
        </li>
        <li>
        <a href="{% url 'InicioSeccion' %}" class="nav-link">Incia sesion</a>
        </li>
        {% endif %}

        <li>
            <a href="{% url 'InicioSeccion' %}">Cerrar sesion</a>
        </li>
    </ul>
    </nav>

    {% endblock %}
</body>
</html>
