{% extends "layouts/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Lista de Citas</title>
</head>
<body>

{% extends "layouts/base.html" %}


{% block content %}
    <h2>Historial</h2>
    <table>
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Editar o Cancelar</th>
            </tr>
        </thead>
        <body>
            <div class="tabla">

                {% for cita in citas %}
                <tr>
                    <td>{{ cita.servicio }}</td>
                    <td>{{ cita.fecha }}</td>
                    <td>{{ cita.hora }}</td>
                    <td>

                        <form action="{% url 'editar_cita' cita.id %}">
                            {% csrf_token %}
                            <button class="editar" type="submit">Editar</button>
                        </form>
                        
                        <form method="post" action="{% url 'eliminar_cita' cita.id %}">
                            {% csrf_token %}
                            <button class="cancelar" type="button" onclick="confirmarEliminacion()">Cancelar</button>
                        </form>
                        
                    </td>
                </tr>
            </div>
                {% endfor %}
            </body>
    </table>
    <a href="{% url 'crear_cita' %}">Crear nueva cita</a>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function confirmarEliminacion(citaId) {
        Swal.fire({
        title: '¿Estás seguro?',
        text: 'No podrás revertir esto.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, eliminarlo',
    }).then((result) => {
        if (result.isConfirmed) {
          // Realizar una solicitud AJAX para eliminar la cita
        $.ajax({
            url: '/eliminar_cita/' + citaId + '/', // Reemplaza con la URL correcta
            type: 'POST',
            data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
            if (data.message) {
                Swal.fire('¡Eliminado!', data.message, 'success');
                // Recargar la página o realizar cualquier otra acción después de eliminar
                location.reload();
            } else {
                Swal.fire('Error', 'No se pudo eliminar la cita.', 'error');
            }
            },
            error: function () {
            Swal.fire('Error', 'No se pudo eliminar la cita.', 'error');
            },
        });
        }
    });
    
        }   
    </script>
    
{% endblock %}

</body>
</html>